/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
/* h1, h2, h3, h4, h5, h6, p, blockquote, pre, */
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol,
ul {
    /* list-style: none; */
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Begin */


html {
    box-sizing: border-box;
    font-family: 'Alkalami', sans-serif;
    margin-top: 12px;
}

body {
    background-color: #344e41de;
}

#topnav {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid yellowgreen;
    padding: 5px 0 0;
    align-items: stretch;
    flex-wrap: wrap;
}

h1 {
    color: #899d63;
    text-transform: uppercase;
    text-align: center;
    /* padding: 2em 0.05em 0 0.05em; */
    font-weight: 400;
    letter-spacing: 20px;
}

/*background: url(https://images.unsplash.com/photo-1562884621-13313a0bf36b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) no-repeat center/110%; */

h2 {
    color: black;
    font-weight: normal;
    margin: 0.5em 0 0 0;

}

h3 {
    text-align: center;
    /* font-family: ui-monospace; */
}

#containerplay {
    background-color: #12415a;
    margin: 0 auto;
    border: 7px inset #b3b293;
    border-radius: 5%/25%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

#containerplay div {
    min-width: 150px;
    text-align: center;
    align-items: center;
    margin: 2px;
    border-radius: 5px;
    flex-grow: 1;
}

section div:nth-of-type(1) {
    flex-shrink: 2;
    max-width: 60px;
}

section div:nth-of-type(6) {
    flex-shrink: 2;
    max-width: 50px;
}

.panel-project {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    border-radius: 10px;
    padding: 15px 25px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: 1px solid #c0dbf3;
}

.pricing-plan:last-child {
    border-bottom: none;
}

.pricing-header {
    color: #344e41de;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
}

.pricing-features {
    margin: 30px 0 35px;
    color: #061ff9;
}

.pricing-features-item {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    list-style: none;
    border-top: 1px solid #c0dbf3;
}

.pricing-features-item:last-child {
    border-bottom: 1px solid #c0dbf3;
}

.pricing-cost {
    color: #061ff9;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    display: block;

}

@media (max-width: 450px) {
    #containerplay {
        width: auto;
        justify-content: flex-start;
    }

    h2 {
        text-align: center;
    }

    @media (min) {}
}

ul {
    font-size: small;
}

span {
    display: inline-flex;
    margin-left: 0em;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

button {
    background: none;
    background-color: darkslateblue;
    border-radius: 9px;
    padding: 0.5em .75em;
    margin: 0.2em;
    /* property name | duration | delay */
    transition: all 0.3s 0.1s;
}

button:hover {
    border-color: #f1ff5c;
    color: azure;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0.2em 0.5em 0.53em -0.4em #f1ff5c;
    transform: translate(-0.2em, -0.2em);
    background-color: #327554;
    cursor: pointer;
}

#neg {
    /* transition: transform 2s 0.1s; */
    box-shadow: none;
    cursor: not-allowed;
}

div.LowSpan {
    align-self: center;
    /* width: fit-content; */
    display: flex;
    align-content: flex-end;
    justify-content: center;
}